1) Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'
print(test1)
with open('test.txt','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system,

In [2]:
# read the contents of test.txt
! type test.txt

This is a test of the emergency text system,

2) Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
   and test 2?

In [3]:
with open('test.txt','r') as file:
    test2 = file.read()
    
print(test2)   
print(test1 == test2)

This is a test of the emergency text system,
True

3) Create a CSV file called books.csv by using these lines:
    
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [4]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w') as file:
    file.write(data)

4) Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
   these fields: title (text), author (text), and year (integer).

In [5]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE books (title text, author text, year int)")
db.commit()
db.close()

5) Read books.csv and insert its data into the book table.

In [6]:
import sqlite3
import csv
conn = sqlite3.connect("books.db")
cursor = conn.cursor()
with open("books.csv","r") as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute("INSERT INTO books VALUES (?,?,?)",(book['title'],book['author'],book['year']))
conn.commit()
conn.close()

6) Select and print the title column from the book table in alphabetical order.

In [7]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("SELECT title FROM books ORDER BY title ASC")
for ele in output:
    print(ele[0])
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7) From the book table, select and print all columns in the order of publication.

In [8]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
ouput = cursor.execute("SELECT * FROM books ORDER BY year")
for record in ouput:
    print(record)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8) Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
   exercise 6.

In [9]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

9) Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [17]:
! python -m pip install redis

Requirement already satisfied: redis in c:\users\soory\anaconda3\lib\site-packages (4.3.5)
Requirement already satisfied: packaging>=20.4 in c:\users\soory\anaconda3\lib\site-packages (from redis) (21.3)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\soory\anaconda3\lib\site-packages (from redis) (4.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\soory\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test1',{'count':1,'name':'Fester Bestertester'})

conn.hgetall('test1')

10) Increment the count field of test and print it.

In [ ]:
conn.hincrby('test1', 'count', 1)
conn.hget('test1', 'count')